{% extends 'base.html' %} 
{% block content %}
<h1>All Books</h1>
<a href="/book/new"> Add New Book</a>


<table border='1'>
    <th>Name</th><th>Price</th><th>Describtion</th><th>Actions</th>
    {% for x in bid %}
    <tr>
        <td><a href="/book/onebook/{{x.id}}">{{x.name}}</a></td>
        <td>{{x.price}}</td>
        <td>{{x.describtion}}</td>
        <td><a href="/book/edit/{{x.id}}">Edit</a></td>
        <td><a href="/book/delete/{{x.id}}">Delete</a></td>
        
    </tr>
    {% endfor %}
</table> 
{% endblock content %} 